#userModal.modal.fade{tabindex: "-1", role: "dialog", 'aria-labelledby' => "userModalLabel", 'aria-hidden' => "true"}
  .modal-header
    %button{type: "button", class: "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"}×
    %h3#userModalLabel User
  .modal-body
    %p body
  .modal-footer
    %button.btn{'data-dismiss' => "modal", 'aria-hidden' => "true"} Close