.row
  .span3
  .span6
    .jumbotron.bg-white.text-center
      %h1 Twenty Tweets
      %p.lead
        Search Twitter. Get the latest 20 tweets. Interact.
        %br Sign in with Twitter to get started.
      %a.btn.btn-lg.btn-success{href: user_omniauth_authorize_path(:twitter)} Sign up today
  .span3